<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1 style="text-align: center;">Create Your Profile</h1>
        <p class="lead text-center">Showcase your skills and experience to attract the best opportunities.</p>
        <% flash.each do |type, msg| %>
            <div class="alert alert-<%= type %>"><%= msg %></div>
        <% end %>
        <div class="well">
            <%= render 'form' %>
        </div>
    </div>
</div>