<div class="container-fluid about-page">
    <h2 style="font-weight: bold; text-align: center;margin-bottom: 20px;padding: 20px;">About Page</h2>
    <p>Welcome to the About page of DevMatch! This platform is dedicated to connecting developers with exciting projects and opportunities. Our mission is to foster collaboration and innovation within the developer community.</p>
    <p>Feel free to explore our features and get in touch with us for any inquiries or support</p>
  </div>