<div class="home-callout text-center">
    <h1>Welcome to DevMatch</h1>
    <h3>Your platform to connect developers with exciting projects</h3>
    <p class="lead">Find your next opportunity or the perfect developer for your project.</p>
</div>
<!-- <div class="container" style="margin-top: 30px;">-->
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-6">
            <div class="well" style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: .75rem; padding: 20px;">
                <h2 class="text-center">Basic Membership</h2>
                <p>Discover exciting projects, connect with innovative companies, and take your career to the next level.</p>
                <%= link_to 'Sign Up with Basic Membership', new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg w-100' %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well" style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: .75rem; padding: 20px;">
                <h2 class="text-center">Pro Membership</h2>
                <p>Unlock exclusive features, gain access to premium projects, and elevate your career with our Pro Membership.</p>
                <%= link_to 'Upgrade Now with Pro Membership', new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg w-100' %>
            </div>
        </div>
    </div>
        <%= link_to "Create Your Profile", new_user_profile_path(user_id: current_user.id) , class: "btn btn-primary btn-lg w-100" if user_signed_in? %>
    
<!-- </div> -->