/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

:root {
  --bg-gradient-start: #faf7f5;
  --bg-gradient-end: #f5f1e8;
  --text-color: #2d3748;
  --app-body-bg: #e4e6df;
  --app-bar-bg: linear-gradient(90deg, #f19d1d 0%, #e88e44 50%, #c43f01 100%);
  --app-grad-bg: radial-gradient(circle,  #f19d1d 53%, #e88e44 70%, #c43f01 100%);
  --app-bar-shadow: rgba(139, 76, 46, 0.4);
  --app-button-bg: #f19d1d;
}

body.dark-theme {
  --bg-gradient-start: #1a1a1a;
  --bg-gradient-end: #161617;
  --app-body-bg: #4d4c4b;
  --text-color: #e3e1d6;
  --app-bar-bg: linear-gradient(90deg, #a36508 0%, #853c00 50%, #892b00 100%);
  --app-grad-bg: radial-gradient(circle, #a36508 53%, #853c00 70%, #892b00 100%);
  --app-bar-shadow: rgba(0, 0, 0, 0.5);
  --app-button-bg: #a36508;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background: linear-gradient(135deg, var(--bg-gradient-start) 0%, var(--bg-gradient-end) 100%);
  color: var(--text-color);
  min-height: 100vh;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  color: var(--text-color);
}

main {
  padding: 24px;
  margin: 0 auto;
}

.navbar {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  background: var(--app-bar-bg);
  box-shadow: 0 4px 20px var(--app-bar-shadow);
}

.home-callout {
  background: var(--app-grad-bg);
  border-radius: 20px;
  padding:100px 10px 100px;
}

.home-callout h1{
  font-size: 4rem;
}

.about-page {
  background: var(--app-body-bg);
  border-radius: 15px;
  padding: 10px 10px 100px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.form-submit{
  background: var(--app-button-bg);
  color: var(--text-color);
  font-weight: bold;
}

.form-submit:hover {
  background: var(--app-grad-bg);
  color: #f5f1e8;
}